html {
    box-sizing: border-box;
}

/* TARGET / CONTEXT = RESAULT */

*, *::before, *::after {
    box-sizing: inherit;
}

/* GENETAL */
body {
    font-size: 100%;
    color: #323232;
    background: #eeefed;
    -webkit-font-smoothing: antialiased;
}


/* clearfix */
.container::before,
.group::before,
.menu::before,
.container::after,
.group::after,
.menu::after {
    content: " ";
    display: table;
}

.container::after,
.group::after,
.menu::after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

strong {
    font-weight: 600;
}

.menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.menu li{
    float: left;
}

.fa {
    vertical-align: middle;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.25em; /* padding ciel deleno fontsize = em*/
}

.gallery .container {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTACT */
.contact-bar {
    background: #39a3d4;
    /* height: 84px; */
    font-size: 0.875em; /*14px */
}
.contact-bar,
.personal a {
    color: #fff;
}

.personal {
    float: left;
    margin: 2.071em 0;
    width: 50%;
}

.social {
    float: right;
    margin: 1.284em 0;
}

.personal li:first-child {
    margin-right: 10%;
}

.personal .fa {
    font-size: 1.75em;
    margin-right: 0.314em;
}

.social .fa {
    font-size: 1.063em;
}

.social-icon {
    display: block;
    width: 3.429em;
    height: 3.429em;
    line-height: 3.286em;
    color: #989898;
    background: #eeefed;
    text-align: center;
    border-radius: 0.143em;
    margin-right: 0.143em;
}

.social-icon:hover,
.social-icon:focus {
    color: #fff;
    background: #5bd0ec;
}


/* NAVIGATION */
.nav-bar {
    background: #f2f2f2;
}

.logo {
    float: left;
    margin: 1.44em 0;
}

.logo a {
    color: #de5728;
    display: block;
}

.logo strong {
    color: #323232;
}

.logo .fa {
    position: relative;
    top: -0.15em;
}

.navigation {
    float: right;
    /* width: 48.58407079646018%; */
}

.navigation .fa {
    display: block;
    padding-bottom: 0.625em;
    /* padding-top: 28px; */
}

.navigation a {
    color: #a6a6a6;
    display: block;
    padding: 1.85em 0;
    width: 8.5em;
    text-align: center;
    text-transform: uppercase;
}

.navigation li {
    width: 25%;
    border-left: 0.063em solid #cecece;
}

.navigation li:last-child {
    border-right: solid 0.063em #cecece;
}

.selected a,
.navigation a:hover,
.navigation a:focus {
    color: #de5728;
}



/* ARTICLE */

.text-center {
    text-align: center;
}

.post-header {
    /* height: 180px; */
    background: url('../img/DSC08315.JPG') -2000px -1436px no-repeat;
}

.post-title {
    color: #fff;
    font-size: 2.375em;
    font-weight: 400;
    background: #de5728;
    padding: 0.289em 0.474em;
    border-radius: 0.184em;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: -0.026em;
    margin: 1.5em 0;
}

.post-content {
    padding: 2.5em 0 7em;
    margin: 0 auto;
    max-width: 1170px;
}

.post-content h2 {
    color: #323232;
    font-weight: 400;
    font-size: 1.875em; /*30px */
    line-height: 1.4em;
    margin-top: 0;
}

.controls,
.menu-dropdown {
    /* width: 720px; */
    margin: 3.125em auto;
    text-align: center;
}

.controls li {
    float: none;
    display: inline-block;
}

.controls a {
    font-size: 1.735em; /**27px */
    font-weight: 300;
    color: #39a3d4;
    text-transform: uppercase;
    padding: 0 1.037em;
    margin: 0 0.074em;
    line-height: 1.778em;
    display: block;
}

.controls a:hover,
.controls a:focus,
.controls .selected a {
    color:  #fff;
    background: #39a3d4;
    border-radius: 0.259em;
}

.menu-dropdown{
    display: none;
    margin: 1em 0 1em;
    font-size: 1.5em;
}
.menu-dropdown select{
    color: #fff;
    background: #39a3d4;
    border:1px solid #1990C8;
    border-radius: .3em;
    width: 8em;
    height: 1.5em;
    line-height: 2.4em;
    padding: 0 .5em;
    cursor: pointer;
}

.gallery {
    font-size: 0;
    text-align: center;
}

.gallery img {
    width: 50%;
    opacity: .85;
}

.gallery img:hover,
.gallery img:focus {
    transform: scale(1.05);
    transition: 0.5s ease;
}

#overlay{
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    text-align: center;
}

#overlay img {
    width: 70%;
    height: auto;
    margin:6% auto;
    border: #fff .3em solid;
    border-radius: .3em;

}

/* FOOTER */

.pre-footer {
    color: #fff;
    background: #323232;
    text-align: center;
}

.pre-footer .container {
    display: block;
    /* width: 400px; */
    padding: 1.875em 0 2.188em 0;
}

.pre-footer p {
    font-size: 0.875em;
    text-transform: uppercase;
    line-height: 1.857em;
}

.pre-footer strong {
    font-size: 1.375em;
    font-weight: 600;
    text-transform: none;
}

.pre-footer .personal {
    width: 100%;
    margin: 1.5em 0 0 0;
}

.pre-footer li {
    float: none;
    display: inline-block;
}

/* .pre-footer li:first-child {
    margin-right: 50px;
} */


footer {
    font-size: 0.875em;
    
}

footer .logo {
    margin: 0.438em 0;
    font-size: 2.286em;
}

footer .logo a:hover,
footer .logo a:focus {
    text-decoration: none;    
}

footer p {
    color: #4b4b4b;
    margin: 1.714em 0;
    padding-left: 1em;
    float: left;
}


footer li a {
    color: #979797;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
}

footer li::after{
    content: '/';
    color: #979797;
    margin: 0 0.357em;
}

footer li:last-child:after{
    content: none;
}

footer .menu {
    color: #989898;
    margin: 1.714em 0;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
}

/* MEDIA QUERIES */

@media (max-width: 1170px){
    .nav-bar .container {
        padding-right: 0;
    }
    
    .navigation li:last-child {
        border-right: none;
    }
    
}
@media (max-width: 960px){
    .gallery img {
        width:100%;
    } 
    .gallery .container {
        margin: 0 auto;
    }

    .post-content {
        padding-bottom: 0;
    }

}

@media (max-width: 750px){
    .logo {
        margin: .8em 0;
    }
    
    .navigation a {
        width: 7em;
        padding: .8em 0;
    }
    
    .navigation .fa {
        padding-bottom: .30em;
    }
    
    article {
        font-size: 80%;
    }
    
    .pre-footer {
        font-size: 90%;
    }
    
    
}
@media (max-width: 750px){
    footer p,
    footer .menu {
        width: 100%;
        text-align: center;
    }

    footer .menu li {
        float: none;
        display: inline-block;
    }
    
    footer .logo {
        margin-bottom: 0;
    }

    footer .menu {
        margin-top: 0;
    }

    footer .autor {
        margin: 1.5em 0;
    }


}

@media (max-width: 675px){
    /* .contact-bar {
        font-size: 70%;
    } */
    
    .personal {
        width: auto;
    }
    
    
    .personal li:first-child {
        margin-bottom: 0.5em;
    }
    
    .social {
        font-size: 1.3em;
    }
    
}
@media (max-width: 591px){
    .controls {
        display: none;
    }

    .menu-dropdown {
        display: block;
    }



}
@media (max-width: 582px){

    .personal,
    .social {
        width: 100%;
        text-align: center;
    }
    .personal {
        margin: 1.5em 0 0 0;
    }
    .personal li {
        display: inline-block;
    }

    .social {
        font-size: 1em;
    }

    .social li {
        width: 24%;
        margin: 0 0.4% ;

    }

    .social .social-icon {
        width: 100%;
        height: auto;
        line-height: 2.5em;
    }

    .nav-bar .logo,
    .navigation {
        width: 100%;
        float: none;
        text-align: center;
    }

    .nav-bar .logo {
        text-align: center;
        font-size: 2.5em;
    }

    .nav-bar .container {
        padding-left: 0;
    }

    .nav-bar li:first-child {
        border-left: none;
    }

    .navigation li {
        width: 25%;
        display: inline-block;
    }
    
    .navigation a{
        width: 100%;
    }

}

@media (max-width:360px) {
    
    body {
        font-size: 80%;
    }

    .navigation li {
        width: 50%;
        border-top: 1px solid #cecece;
    }




    .post-title {
        text-align: center;
    }
    
    
    
    
    
    
    
    
    
    
}









